/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#loading {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
#loading img {
  top: 50%;
  margin-top: -10px;
  margin-left: -110px;
  position: absolute;
}

#rarities {
  width: 100%;
  height: 100%;
}
#rarities > div {
  width: 25%;
  height: 100%;
  float: left;
  overflow: auto;
}
#rarities > div > div {
  width: 90%;
  margin: 0 auto;
}
#rarities > div p:first-child {
  font-size: 5em;
  margin-top: 2%;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#rarities > div p {
  line-height: 0.9;
  display: block;
}
#rarities > div p.left {
  float: left;
  width: 50%;
  overflow: hidden;
}
#rarities .mythic {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ef7c00), color-stop(50%, #ff9b30), color-stop(100%, #ef7c00));
  background: -webkit-linear-gradient(left, #ef7c00, #ff9b30, #ef7c00);
  background: -moz-linear-gradient(left, #ef7c00, #ff9b30, #ef7c00);
  background: -o-linear-gradient(left, #ef7c00, #ff9b30, #ef7c00);
  background: linear-gradient(left, #ef7c00, #ff9b30, #ef7c00);
}
#rarities .rare {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2c10a), color-stop(50%, #f8e05a), color-stop(100%, #e2c10a));
  background: -webkit-linear-gradient(left, #e2c10a, #f8e05a, #e2c10a);
  background: -moz-linear-gradient(left, #e2c10a, #f8e05a, #e2c10a);
  background: -o-linear-gradient(left, #e2c10a, #f8e05a, #e2c10a);
  background: linear-gradient(left, #e2c10a, #f8e05a, #e2c10a);
}
#rarities .uncommon {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c0c0c0), color-stop(50%, #e6e6e6), color-stop(100%, #c0c0c0));
  background: -webkit-linear-gradient(left, #c0c0c0, #e6e6e6, #c0c0c0);
  background: -moz-linear-gradient(left, #c0c0c0, #e6e6e6, #c0c0c0);
  background: -o-linear-gradient(left, #c0c0c0, #e6e6e6, #c0c0c0);
  background: linear-gradient(left, #c0c0c0, #e6e6e6, #c0c0c0);
}
#rarities .common {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, #333333), color-stop(100%, #000000));
  background: -webkit-linear-gradient(left, #000000, #333333, #000000);
  background: -moz-linear-gradient(left, #000000, #333333, #000000);
  background: -o-linear-gradient(left, #000000, #333333, #000000);
  background: linear-gradient(left, #000000, #333333, #000000);
}
#rarities .mythic, #rarities .common {
  color: white;
}
#rarities .mythic a, #rarities .common a {
  color: white;
}
#rarities .rare a, #rarities .uncommon a {
  color: black;
}
#rarities a {
  font-size: 0.8em;
}
